@import '../../assets/style/_mixin';
.btnClass {
  border: none;
  height:45px;
  text-align: center;
  border-radius: 8px;
  font-family: 'OnePlusSansDisplay';
  font-size: calc-rem(20);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  &.blueBtn {
    background: #0a23fb;
    color: #fff;
  }
  &.redBtn {
    background: #f50514;
    color: #fff;
  }
  &.redGhost {
    border: 2px solid #f50514;
    color: #f50514;
    background: transparent;
  }
  &.blackGhost {
    border: 2px solid #000;
    color: #000;
    background: transparent;
  }
  &:focus,&:active {
    outline: none;
  }
}