
.home-main-heading {
  font-family: OnePlusSansDisplay;
  font-size: calc-rem(50);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #001eff;
}